/* First Navbar */
:root {
  --primary: black; /* Black */
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}
/* Override Bootstrap's dark background color */
.bg-dark {
  background-color: black !important;
}
.first-navbar {
  background-color: white;
  padding-top: 12px;
}


/* Second Navbar */
.second-navbar {
  background-color: white; /* Initial background color */
  width: 100%;
}
.scrolled {
  background-color: whitesmoke; /* Background color when scrolled */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease;
  color: white !important;
}
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: black;
}

.dropdown-menu li {
  display: block;
  width: 100%;
  text-align: left;
}

.dropdown-menu li a {
  color: white;
  padding: 8px;
  text-decoration: none;
  display: block;
}

/* Show dropdown menu when parent li is hovered */
.second-navbar ul li:hover .dropdown-menu {
  display: block;
}

/* Main Section */
.main-section {
  margin-top: 30px; /* Height of first + second navbars */
  padding-left: 15px;
  padding-right: 15px;
  display: flex; /* Use flexbox for layout */
}

/* Adjustments for the filter and product sections */
.filter-section {
  float: left;
  margin-right: 10px;
  width: 15%;
}
@media (max-width: 767px) {
  .filter-section {
    display: none;
  }

}
/* Custom CSS to position modal to the right side of the screen */
.modal-dialog-side.modal-dialog-right {
  /* position: fixed; */
  right: 0;
  margin-right: 2px;
  margin-left: auto;
  width: 320px; /* Adjust as needed */
  max-width: calc(100% - 40px); /* Adjust as needed */
}
.filter-div > h5{
  font-size: 0.8rem;
}
.filter-category ul li{
  font-size: 0.8rem;

}
.product-section {
  width: 100%; /* Take up remaining space */
}
@media (max-width: 767px) {
  /* First Navbar */
  .first-navbar {
    padding: 10px 0; /* Add padding for spacing */
  }
  
  .navbar-brand {
    font-size: 20px; /* Decrease font size for smaller screens */
  }
  
  .nav-link {
    font-size: 16px; /* Decrease font size for smaller screens */
  }

  /* Product Section */
  .product-section {
    width: 100%; /* Occupy full width */
    margin: 0 auto; /* Center horizontally */
    padding: 20px; /* Add padding for spacing */
  }
}


.reopen-filter {
  float: left;
  margin-right: 10px; /* Adjust the margin for spacing */
  height: 50px;
  width: 20px;
}

/* Product Section */
.product-section {
  float: right;
  width: 85%;
}
/* Override Bootstrap button styles */
.btn {
  width: 120px;
  font-size: 0.8rem;
  color: #a0a0a0;
  text-align: center;
  border: 1px solid #a0a0a0;
  padding: 5px 0;
  margin-left: 1px;
  border-radius: 0px !important;
}

/* Override Bootstrap primary button styles */
.btn-primary {
  background-color: white;
  border-color: 1px solid #a0a0a0;
  color: #a0a0a0;
}

/* Styling for the hover effect */
.btn:hover {
  background-color: black;
  color: white;
}

/* Styling for the hover effect on primary buttons */
.btn-primary:hover {
  background-color: black;
  border-color: black;
}
/* Product Card Styles */
.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
  position: relative;
  padding: 0;
}

.card-header .badge {
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
}

.card-img-top {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 6px; /* Adjust the padding as needed */
}

.card-title {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 12px;
  font-size: 0.8rem;
}

/* Show description on hover */
.card:hover .card-text {
  white-space: initial;
  overflow: initial;
  text-overflow: initial;
}
.price-section {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;

}

.previous-price {
  color: #888;
  text-decoration: line-through;
}

.current-price {
  font-weight: bold;
}

/* Center align the "Add to Cart" button */
.text-center {
  text-align: center;
}
.filter-div:hover {
  color: white;
  background: #606c88;
  background: -webkit-linear-gradient(to right, #423e54, #525c74);
  background: linear-gradient(to right, #423e54, #545f78);
}
  
.filter-div > h3{
  font-size: 1.4rem;
  color: white;
  background: #606c88;
  background: -webkit-linear-gradient(to right, #423e54, #525c74);
  background: linear-gradient(to right, #423e54, #545f78);
}

#filter-li:hover{
  background: #606c88;
  padding: 0.3rem;
  font-size: 0.9rem;
  background: -webkit-linear-gradient(to right, #423e54, #525c74);
  background: linear-gradient(to right, #423e54, #545f78);
}
/* Custom CSS for small images */
.small-images .col-6 {
  border: 1px solid #ccc; /* Add border to each column */
  padding: 5px; /* Add some padding */
  margin: 2px;
  transition: transform 0.3s, cursor 0.3s; /* Add transition effect for transform and cursor */
}

.small-images .col-6 img {
  width: 100%; /* Make the image fill the column */
  height: 100%; /* Make the image fill the column */
  object-fit: cover; /* Ensure the image fills the column while preserving aspect ratio */
}

/* Enlarge and change cursor on hover */
.small-images .col-6:hover {
  transform: scale(1.35); /* Enlarge the div on hover */
  cursor: pointer; /* Change cursor to pointer on hover */
}
/* Custom CSS for modal positioning */
.modal-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 400px; /* Adjust the width as needed */
  max-width: 90%; /* Set a maximum width to prevent the modal from occupying the entire screen */
}
/* Style for Continue Shopping button */
#btn-continue:hover {
  background-color: white !important;
  color: black !important;
  border-color: 1px solid black !important;
  cursor: pointer;
}

/* Style for Proceed to Checkout button */
#btn-checkout:hover {
  background-color: black !important;
  color: white !important;
  border-color: black !important;
  cursor: pointer;
}
  /* Custom CSS styles */
  .image-card {
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
    animation: slideInRight 1s ease forwards;
}

.image-card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.image-card .card-details {
    padding: 10px;
}

.image-card .card-price {
    font-weight: bold;
    color: #007bff;
}

.welcome-header {
    animation: dropFromTop 1s forwards, changeColor 4s infinite;
}

@keyframes dropFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes changeColor {
    0% {
        color: #007bff;
    }
    25% {
        color: #ff0000;
    }
    50% {
        color: black;
    }
    75% {
        color: green;
    }
    100% {
        color: #007bff;
    }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInBottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Hide the quick view button by default */
.quick-view-btn {

  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* Show the quick view button on hover */
.product-card:hover .quick-view-btn {
  background-color: black;
  color: white;
  padding: 2px;
  border: 1px solid black;
  display: block;
  font-size: 0.7rem;

}
.product-card:hover .quick-view-btn:hover{
  background-color: white;
  color: black;
  border: 1px solid black;
  outline-width: 0cap;
  outline-color: black;
}

/* Add transition for smooth animation */
.product-card {
  transition: transform 0.3s ease;
}

/* Increase card size on hover */
.product-card:hover {
  transform: scale(1.15);
}
.footer{
  color: #888 !important;
  font-size: 0.9rem;
}
.footer h5{
  font-size: 1.25rem;
}
.footer ul li{
  font-size: 0.9rem;
}
.footer p{
  font-size: 0.9rem;

}
.slanted-button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background: #606c88;
  background: -webkit-linear-gradient(to right, #1F1C2C, #525c74);
  background: linear-gradient(to right, #1F1C2C, #545f78);
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  overflow: hidden;
  clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
  /* Adjusted for left slant */
  transition: clip-path 0.3s ease;
}

.slanted-button:hover {
  /* Adjusted for right slant */
  background: black;
  background: -webkit-linear-gradient(to right, #000000, #796c6c);
  background: linear-gradient(to right, #000000, #565151);
  text-decoration: none;
  color: white !important;

}
